body{
  margin: 0 auto;
}


/*  LINKS
__________________________________*/
a{
  text-decoration: none;
  color: #6E6E6E;
}

a:hover{
  color: #B59E6A;
}

.util-nav a{
  font-size: 14px;
}

/*  CONTAINERS
__________________________________*/
.container{
  color: #6E6E6E;
  font-size: 17px;
  font-family: 'freight-sans-pro', sans-serif;
  font-style: normal;
  font-weight: 300;
}

/*  BUTTONS
__________________________________*/
.primary-button{
  background: #033D3C;
  color: #fff;
  border-style: none;
  padding: none;
  text-transform: uppercase;
  font-size: 14px;
}

.empty{
  height: 30px;
  width: 30px;
  background: url(../images/heart.svg);
  background-repeat: no-repeat;
}
.solid{
  height: 30px;
  width: 30px;
  background: url(../images/colored_heart.png);
  background-repeat: no-repeat;
}
